body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.main {
  padding-top: 60px;
  padding-bottom: 90px;
}

.main__title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 60px;
}

.main__blocks {
  display: flex;
  justify-content: space-between;
}

.block {
  padding: 20px;
  text-align: center;
  width: 30%;
  border-radius: 20px;
  transition: all 1s;
}

.block:hover {
  transform: translate(0px, 20px);
  box-shadow: 0 0 20px grey;
}

.block img {
  margin-bottom: 30px;
}
